
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Async Inn</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <h1 class="title">Welcome to Async Inn</h1>

    <h2>Navigation:</h2>
    <ul class="nav_menu">
        <li>
            <a href="/Home">Home</a>
        </li>
        <li>
            <a href="/Rooms">Rooms</a>
        </li>
        <li>
            <a href="/HotelRooms">Hotel Rooms</a>
        </li>
        <li>
            <a href="/Hotels">Hotels</a>
        </li>
        <li>
            <a href="/RoomAmenities">Room Amenities</a>
        </li>
        <li>
            <a href="/Amenities">Amenities</a>
        </li>
    </ul>
</body>
</html>

@RenderBody()